name: Trigger auto deployment for weatherapp-api

# When this action will be executed
on:
  # Automatically trigger it when detected changes in repo
  push:
    branches: 
      [ main ]
    paths:
    - '**'
    - '.github/workflows/weatherapp-api-AutoDeployTrigger-1bf2b5c9-2f0a-45b1-9e22-7e12412ba516.yml'

  # Allow manual trigger 
  workflow_dispatch:      

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    permissions: 
      id-token: write #This is required for requesting the OIDC JWT Token
      contents: read #Required when GH token is used to authenticate with private repo

    steps:
      - name: Checkout to the branch
        uses: actions/checkout@v2

      - name: Azure Login
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.WEATHERAPPAPI_AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.WEATHERAPPAPI_AZURE_TENANT_ID }}
          subscription-id: ${{ secrets.WEATHERAPPAPI_AZURE_SUBSCRIPTION_ID }}

      - name: Build and push container image to registry
        uses: azure/container-apps-deploy-action@v2
        with:
          appSourcePath: ${{ github.workspace }}/api
          dockerfilePath: Dockerfile
          # registryUrl: 
          # registryUsername: ${{ secrets.WEATHERAPPAPI_REGISTRY_USERNAME }}
          # registryPassword: ${{ secrets.WEATHERAPPAPI_REGISTRY_PASSWORD }}
          containerAppName: weatherapp-api
          resourceGroup: rg-weatherapplication
          imageToBuild: weatherapp-api:${{ github.sha }}



